<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>
	<link href="css/ionic.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
	<script src="js/ionic.bundle.min.js"></script>
	<script src="cordova.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</head>

<body ng-app="zodiacApp" ng-controler="AppCtrl">
<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" class="menu-left">
		<ion-header-bar class="bar-dark">
			<h1 class="title">Meniu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close ng-click="login()">
					Profilul meu astrologic
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/search">
					Horoscop
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/browse">
					Compatibilitati
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/playlists">
					Playlists
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
</body>

<!-- Horoscop Abstract - template -->
<script id="horoscop-abstract.html" type="text/ng-template">
	<ion-view>
		<ion-nav-view></ion-nav-view>
	</ion-view>
</script>

<!-- Horoscop Lista(Alege Zodia) HOME -->
<script id="horoscop-lista.html" type="text/ng-template">
	<ion-view view-title="Horoscop">
		<ion-content id="horoscop" class="padding">
			<div class="lista-zodii">
				<div class="row" ng-repeat="row in zodiiRow">
					<div class="col" ng-repeat="zodie in row">
						<a class="button button-{{zodie.iconita}}" href="#/horoscop/{{zodie.id}}"><i class="icon-zodia {{zodie.iconita}}-2"></i></a>
					</div>
				</div>
			</div>
			<p>
				Va simtiti in forma si faceti planuri indraznete de viitor. Este un moment prielnic pentru investitii pe termen lung, pentru a incepe noi afaceri si pentru calatorii in interes personal.
				Profitati de moralul ridicat pe care il aveti astazi! Aveti mari sanse de reusita. </p>

			<p>
				Va simtiti in forma si faceti planuri indraznete de viitor. Este un moment prielnic pentru investitii pe termen lung, pentru a incepe noi afaceri si pentru calatorii in interes personal.
				Profitati de moralul ridicat pe care il aveti astazi! Aveti mari sanse de reusita. </p>

			<p>
				Va simtiti in forma si faceti planuri indraznete de viitor. Este un moment prielnic pentru investitii pe termen lung, pentru a incepe noi afaceri si pentru calatorii in interes personal.
				Profitati de moralul ridicat pe care il aveti astazi! Aveti mari sanse de reusita. </p>

			<p>
				Va simtiti in forma si faceti planuri indraznete de viitor. Este un moment prielnic pentru investitii pe termen lung, pentru a incepe noi afaceri si pentru calatorii in interes personal.
				Profitati de moralul ridicat pe care il aveti astazi! Aveti mari sanse de reusita. </p>
		</ion-content>
	</ion-view>

</script>

<!-- Horoscop Zodia -->
<script id="horoscop-zodia.html" type="text/ng-template">
	<ion-view view-title="Horoscop Taur">
		<ion-content id="horoscop-zodia" class="padding">
			<h1>
				<i class="icon-zodia {{zodii[zodia].iconita}}-2 bg-{{zodii[zodia].iconita}}"></i>
				<div>
					{{zodii[zodia].nume}}
					<span class="subtitle">{{data}}</span>
				</div>
			</h1>
			<div ng-bind-html="horoscop" class="horoscop"></div>
		</ion-content>
	</ion-view>
</script>
</html>